<p id="notice"><%= notice %></p>


  <div class="title ">
      <h4>Groups</h4>
  </div>
   <h4 class ="text-center">most recent</h4>

<section class="group_body">
    
<div class="container-fluid mb-4">
    
               <div> <%=format_group(@groups)%><div>

</div>
</section>


<%= link_to 'New Group', new_group_path,class: 'btn btn-primary' %>
<%= link_to 'Back', root_path,class: 'btn btn-primary'%>


