<p id="notice"><%= notice %></p>
<% @group_transactions.each do |group_transaction| %>
    <div class="list-group my-5">

  <div class="list-group-item list-group-item-action"><h4>Transaction name:<%= group_transaction.name %></h4></div>
  
   <div class="list-group-item list-group-item-action"><h4>Transaction amount:<%= group_transaction.amount %></div>
</div>


<%end%>

 


<%= link_to 'Back', groups_path,class:"btn btn-warning" %>
