

  <div class="container-fluid justify-content-between bg-primary">
   <div class = "d-flex justify-content-center"><h3>TRANSACTION</h3></div>
    <ul class="nav justify-content-end" >
     
  <%=format_header(@user)%>

</ul>
 </div>

</div>
